body {
    background: radial-gradient(circle at center, #fdfaf4 0%, #f0e9df 50%, #e5dbd0 100%);
}

.cabecalho {
    padding: 1.5rem;
}

.logo {
    width: 90px;
    height: auto; 
}

.conteudo-principal {
    display: flex;
    flex-direction: column ;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.conteudo-principal .titulo {
    font-family: "Jersey 10", sans-serif;
    font-size: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 9px;
}

.conteudo-principal .descricao-pagina{
    font-family: "Lustria", serif;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.cartas {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartas .botao {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
    border: none;
    background-color: #c4a484;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    letter-spacing: 2px;
}

.cartas .botao:hover {
    background-color: #a67c52;
}

.rodape {
    font-family: "Lustria", serif;
    font-size: 1.5rem;
    padding: 1rem;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    letter-spacing: 2px;
}

.rodape a img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}