html, body {
    height: 100%;
    margin: 0;
}

body {
    background: radial-gradient(circle at center, #fdfaf4 0%, #f0e9df 50%, #e5dbd0 100%);
    display: flex;
    flex-direction: column;
}

.cabecalho {
    padding: 1.5rem;
}

.logo {
    width: 90px;
    height: auto; 
}

.conteudo-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.conteudo-principal .titulo {
    font-family: "Jersey 10", sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
    letter-spacing: 10px;
}

.conteudo-principal .descricao-pagina{
    font-family: "Lustria", serif;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    letter-spacing: 2px;
}

.cartas {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cartas img {
    width: 220px;
    margin-bottom: 1rem;
}

.descricao-carta {
    font-family: "Lustria", serif;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 500px;
    line-height: 1.5;
    opacity: 0.9;
}

.cartas .botao {
    font-family: "Jersey 10", sans-serif;
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    background-color: #c4a484;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    letter-spacing: 2px;
}

.cartas .botao:hover {
    background-color: #a67c52;
}

.rodape {
    font-family: "Lustria", serif;
    font-size: 1.2rem;
    color: #4a3a2a; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    padding: 1.5rem 0;
    opacity: 0.8;
}
.rodape a img {
    width: 24px;
    transition: transform 0.2s ease;
}
.rodape a img:hover {
    transform: scale(1.15);
}